* {
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.app-not-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button, a, input, textarea:focus {
    outline: 0 none !important; /*去掉点击是周围出现的虚线框*/
    blr: expression(this.onFocus=this.blur());
}

a {
    text-decoration: none;
    color: black;
}

    a:hover {
        text-decoration: none;
    }

#app-left {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #333;
    z-index: 1;
    overflow: hidden
}

#app-right {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    z-index: 0;
}

#app-menu-logo {
    margin-top: 0px;
    height: 58px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 0;
    background-color: #222;
}

    #app-menu-logo span {
        font-size: 24px;
        line-height: 58px;
        color: rgba(255, 255, 255, 0.7);
    }

    #app-menu-logo a:hover span {
        color: white;
        text-decoration: none;
    }

#app-menu-scroll {
    margin-right: -20px;
    overflow: auto;
    z-index: 1;
}

#app-menu-accordion {
    width: 300px;
}

    #app-menu-accordion .glyphicon {
        width: 20px !important;
    }



.app-panel {
    border: none;
    background-color: #333;
    border-radius: 0px;
    margin-bottom: 0px !important;
}

    .app-panel panel {
        background-color: #333;
        color: rgba(255, 255, 255, 0.7);
    }

    .app-panel > div a {
        height: 32px;
    }

.app-muen-icon {
    position: absolute;
    right: 5px;
    height: 100%;
    display: -webkit-flex; /*在webkit内核的浏览器上使用要加前缀*/
    display: flex; /*将其定义为弹性容器*/
    align-items: center; /*垂直居中*/
    font-size: 12px;
}

.app-btn {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    text-align: left;
    background-color: #333;
    border-color: #333;
    border-radius: 0px;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .25s ease-in-out;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #fff !important;
    background-color: #5c5c5c;
    border-color: #5c5c5c;
}

#app-header {
    position: relative;
    box-sizing: border-box;
    background-color: white;
    padding-bottom: 2px;
}

.app-body {
    min-height: 30px;
}

.app-body, #app-header {
    margin-left: 300px;
}

.app-header-info {
    min-height: 58px;
}

#app-menu-status {
    width: 28px;
    height: 28px;
    margin-top: 15px;
    margin-left: 5px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

    #app-menu-status span {
        font-size: 20px;
        color: #4d4d4d;
    }

#app-body {
    min-height: 30px;
}

#app-body, .app-header {
    margin-left: 300px;
}

    #app-body iframe {
        width: 100%;
        height: 100%;
        overflow: auto;
    }

/*------user------*/
.app-header-info-right {
    overflow: hidden;
    float: right;
}

    .app-header-info-right > div {
        display: -webkit-flex;
        display: flex;
        align-items: center;
        border: none;
        background-color: white;
        height: 58px;
        float: left;
        cursor: pointer;
        transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .25s ease-in-out;
    }

        .app-header-info-right > div:focus,
        .app-header-info-right > div:hover,
        .app-user-dropdown:focus,
        .app-user-dropdown:hover {
            background-color: #F0F0F0;
        }

#app-full-screen {
    padding: 0px 10px 0px 10px;
}

    #app-full-screen span {
        font-size: 18px;
    }

.app-user-dropdown {
    display: block;
    background-color: transparent;
    border: none;
    height: 100%;
    padding: 0px 10px 0px 7px;
}

    .app-user-dropdown strong {
        padding: 0px 8px 0px 4px;
    }

    .app-user-dropdown img {
        height: 42px;
        width: 42px;
        border-radius: 21px;
    }

    .app-user-dropdown span {
        font-size: 12px;
    }

.app-user-menu {
    padding: 2px 0;
    top: 60px;
    min-width: 185px;
    overflow-y: auto;
}

    .app-user-menu .badge {
        background-color: #ed4014;
        /*margin:-2px 0 0 5px;*/
    }

    .app-user-menu > li > a {
        padding: 6px 25px;
    }

    .app-user-menu .divider {
        margin: 2px 0;
    }

.app-copyright {
    padding: 6px 25px 3px 25px
}

    .app-copyright p {
        padding-top: 15px;
        overflow: hidden;
    }

    .app-copyright span {
        padding-top: 3px;
    }

    .app-copyright img,
    .app-copyright span {
        display: inline-block;
    }

.app-copyright-more a {
    display: initial !important;
}
/*----------------*/

.app-dropdown-submenu {
    display: none;
    box-shadow: 0 3px 6px rgba(0,0,0,.175);
}
/*退出登陆模态框*/
#app-logout .modal-header,
#app-logout .modal-body,
#app-logout .modal-footer {
    padding: 10px;
    border-bottom: none;
    border-top: none;
}

#app-logout .modal-dialog {
    max-width: 400px;
}

#app-logout .modal-title {
    font-size: 16px;
}

    #app-logout .modal-title > .glyphicon {
        font-size: 22px;
        top: 5px;
        color: #FF9900;
    }
/*多标签*/
#app-header-clip {
    position: relative;
    min-height: 42px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}

    #app-header-clip .app-header-clip-left {
        margin-right: 90px;
    }

    #app-header-clip .app-header-clip-right {
        position: absolute;
        top: 0;
        right: 0;
        height: 41px;
        line-height: 41px;
    }

        #app-header-clip .app-header-clip-right a {
            display: inline-block;
            padding: 0 10px 0 10px;
            cursor: pointer;
            transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .25s ease-in-out;
        }

            #app-header-clip .app-header-clip-right a:hover {
                background-color: #F0F0F0;
            }

    #app-header-clip .nav-tabs > li > a:hover {
        border-color: transparent;
        background-color: transparent;
    }

    #app-header-clip .nav > li > a:focus,
    #app-header-clip .nav > li > a:hover {
        border-color: transparent;
        background-color: transparent;
    }


    #app-header-clip .nav-tabs,
    #app-header-clip .nav-tabs > li > a {
        border: none;
    }

        #app-header-clip .nav-tabs > li > a {
            margin-right: 0;
            border-radius: 0;
            padding: 0 20px 0 15px;
            height: 40px;
            line-height: 40px;
        }

            #app-header-clip .nav-tabs > li > a > .glyphicon {
                margin-right: 5px;
            }

        #app-header-clip .nav-tabs > li > .close {
            position: absolute;
            font-size: 18px;
            right: 5px;
            top: 0;
        }

            #app-header-clip .nav-tabs > li > .close:hover {
                color: #ff0000;
            }

    #app-header-clip .app-clip-selected {
        border-bottom: 2px solid #007465;
        box-sizing: border-box;
    }

        #app-header-clip .app-clip-selected > a {
            color: #007465;
            font-weight: bold;
        }
/*提示工具*/
.tooltip .tooltip-inner {
    white-space: nowrap;
    font-size:12px;
    background-color: #575D6A;
}
.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
    border-top-color: #575D6A;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #575D6A;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #575D6A;
}
.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #575D6A;
}